.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  border-radius: 6px;

  &.idn-live {
    padding-top: 0;
    height: auto;

    .react-player {
      position: relative;
    }
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  overflow: hidden;
}